<div class="row">
  <%= form_for @post do |f| %>
    <%- {
      title: :text,
      publication_date: :date,
      header: :text ,
      body: :text,
      file: :file
    }.each do |attr, type| %>
      <div class="row">
        <div class="col-sm">
          <%= f.label attr %>
        </div>
        <div class="col-sm">
          <%= f.send "#{type}_field", attr, class:"form-control"%>
        </div>
      </div>
      <% if @post.errors[attr].present? %>
        <div class="row alert alert-danger">
            <%= @post.errors[attr].to_sentence%>
        </div>
      <% end %>
    <%end%>
    <%= f.submit  class: "btn btn-primary" %>
  <% end %>
</div>
